// Fonts
 
$fonts: (
    fs-lg: 58px,
    fs-md: 40px,
    fs-sm: 24px,
    fs-mobile-sm:20px,
    fs-card_hl: 16px,
    fs-xsm: 14px,

    fw-Blg: 800,
    fw-lg:700,
    fw-text-1:600,
    fw-text-2:500,
    fw-text-3:400,

)